*{
    margin: 0;
    padding: 0;
    font-family: Assistant, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    box-sizing: border-box;
}
header{
    display: flex;
    background-color:#ffffff;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #d4d0d0;
}
.myntra_home{
    height: 45px;
}
.logo{
    margin-left: 4%;
}
.action_bar{
    margin-right: 4%;
}
.navbar{
    display: flex;
    min-width: 800px;
    justify-content: space-evenly;
}
.navbar a{
    font-size: 14px;
    color: #282c3f;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    padding: 26px 0;
    border-bottom: 3px solid #ffffff;
}

.navbar a:hover{
    border-bottom: 3px solid red;
}
.navbar a sup{
    color: red;
    font-size: 10px;
    
}
.searchbar{
    height: 40px;
    min-width:400px;
    display: flex;
    align-items: center;
    
}

.search_icon{
    height: 20px;
    padding: 10px;
    box-sizing: content-box;
    background-color: #f5f5f6;
    color: #282c3f;
    font-weight: 300;
    border-radius: 4px 0 0 4px;
}
.search_input{
    background: #f5f5f6;
    color: #696e79;
    flex-grow: 1;
    height: 40px;
    border:0;
    border-radius: 0 4px 4px 0; 
}
.action_bar{
    display: flex;
    min-width: 200px;
    justify-content: space-evenly;
}


.action_container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.banner{
    margin: 20px 0;
}
.banner_image{
    width: 100%;
    height: 500px;
}
.category{
    text-transform: uppercase;
    color: #3e413e;
    letter-spacing: .15em;
    font-size: 1.8e;
    margin: 50px 0 10px 30px;
    max-height: 5em;
    font-weight: 700;
}
.category_items{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;
}
.sales_items{ 
    height: 380px;
    width: 380px;
    max-width: 400px;
}
.footer_container{
    padding:  30px 0 40px 0;
    background-color: #efefef;
    display: flex;
    justify-content: space-evenly;
}
.footer_column{
    display: flex;
    flex-direction : column;

}
.footer_column a{
    color: #696b79;
    display: block;
    font-size: 15px;
    text-decoration: none;
    padding-bottom: 5px;
}
.footer_column h3{
    font-size: 14px;
    margin-bottom: 25px;
}
.footer_column a:hover{
    color: red;
}
.copy_right{
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    color: #94969f;
    margin-left: 100px;
    text-align: end;
    padding: 10px;
}